.p1 {
    background-color: rgb(194, 243, 243);
    border: 6px solid black;
}

.p2 {
    background-color: rgb(194, 243, 243);
    border: 4px solid black;
}

.p3 {
    background-color: rgb(194, 243, 243);
    border: 2px solid black;
}